<!doctype html>
<html>
<head>
<title>Unicode Search</title>
<meta charset=utf-8>
<script src=js/jquery.js></script>
<script src=js/underscore.js></script>
<script src=js/backbone.js></script>
<script src=js/d3.v3.js></script>
<script src=js/prefixfree.js></script>

<script src=js/fuse.js></script>

<link rel=stylesheet href=css/style.css />
<link rel=stylesheet href=css/mobile.css />

<style>
input#search { 
  width: 90%;
  font-size:large;
  display:block;
  margin:0 auto;
}

#results li { 
  margin-bottom: .5em;  
}

li { 
  display:inline-block; 
  border-radius: 4px;
  background:#f5f5f5;
  border: 1px solid #d5d5d5;
  text-align:center;
  box-shadow:-2px 2px 2px #878787;
  min-width: 2em;
  padding: .5em;
}

li code { 
  font-size: small;
  font-family: "Helvetica", sans-serif;
  color: #6c6c6c;
}
li p { 
  font-size:xx-large;
  line-height: 1;
}

</style>
</head>
<body>

<script type=text/html id=wasunicharTemplate>
<li>
  <span class=unichar><%= unichar %></span>
  <code class=code_value>U+<%=  Code_value %></code>
  <span class=characterName><%=  Character_name %></span>
</li>
</script>

<script type=text/html id=unicharTemplate>
<li  class=unichar title="<%=  Character_name %>">
  <code>U+<%=  Code_value %></code>
  <p><%= unichar %></p>
</li>
</script>
 
<main>
  <input autofocus type=search id=search>
  <ol id=results></ol>
</main>


<script src=js/app.js> </script>


</body>
</html>
